lxml==4.9.3
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.0
newspaper3k==0.2.8
spacy>=3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
nrclex==3.0.0
textstat==0.7.4
matplotlib==3.9.4
seaborn==0.13.2
wordcloud==1.9.4
altair==5.5.0
lime==0.2.0.1
tqdm==4.67.1
joblib==1.4.2
streamlit==1.41.1

