streamlit==1.41.1
spacy==3.4.4
nltk==3.9.1
newspaper3k==0.2.8
scikit-learn==1.6.0
lime==0.2.0.1
nrclex==3.0.0
textstat==0.7.4
pandas==2.2.3
joblib==1.4.2
altair==5.5.0
matplotlib==3.9.4
wheel==0.45.1
lxml==5.3.0
lxml_html_clean==0.4.1
spacy-loggers=1.0.5
seaborn==0.13.2